/* Variables */
:root {
    /* Colors (overridden for dark theme) */
    --bg: #eeeef0;
    --f-color: #1e2430;
    --rule: #434c5e;

    --f-family: Charter, mycharter, Georga, serif;
    --f-alt-family: CooperHewitt, 'Source Sans 3', system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #151519;
        --f-color:#eceff4;
        --rule: #456;
    }
}

/* Main styles */
:root {
    font-size: 19px;
    font-family: var(--f-family);
}

@media (max-width: 896px) {
    :root {
        font-size: 17px;
    }
}

body {
    margin: auto;
    max-width: 30rem;
}

p, div.saying {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

h3 + p {
    margin-top: 2rem;
}

h1, h2, h3 {
    font-family: var(--f-alt-family);
    font-weight: 300;
    margin-bottom: 1rem;
}

.book-counter {
    margin-left: -6rem;
    float: left;
    clear: left;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: top;
    position: relative;
}

h3.section-heading {
    font-size: 1rem;
    margin-left: -3rem;
    float: left;
    clear: left;
    margin-top: 1.5rem;
    margin-bottom: 0;
    vertical-align: top;
    position: relative;
}

.title {
    margin-bottom: 0;
}

.author {
    margin-top: 0.3rem;
    font-family: var(--f-alt-family);
    font-weight: 300;
}

.syllogism {
}

.syllogism .prop {
}
